
@{
    ViewBag.Title = "Debug";
}

<h2>Debug</h2>

<ul>
    <li>Controller Name: @ViewContext.RouteData.Values["controller"]</li>
    <li>Action Name: @ViewContext.RouteData.Values["action"]</li>
</ul>



